{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="program">
        <div class="menu_program">
            <a href="{% url 'news' %}">Site for posts</a><br>
            <a href="{% url 'clicker' %}">Clicker</a><br>
            <a href="{% url 'weather' %}">Weather</a><br>
            <a href="{% url 'todo' %}">To-do</a><br>
            <a href="{% url 'notes' %}">Notes</a><br>
        </div>
    <div class="news">
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>
    </div>
{% endblock %}
