{% extends 'base.html' %}

{% block title %}
    Tag create - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="program">
        <div class="menu_program">
            <a href="{% url 'news' %}">Site for posts</a><br>
            <a href="{% url 'clicker' %}">Clicker</a><br>
            <a href="{% url 'weather' %}">Weather</a><br>
            <a href="{% url 'todo' %}">To-do</a><br>
            <a href="{% url 'notes' %}">Notes</a><br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 offset-md-2">
                    {% if user.is_authenticated %}

                        <div class="create_form">
                            <form action="{% url 'tag_create_url' %}" method="post">
                                {% csrf_token %}

                                {% for field in form %}
                                    <div class="form-group">
                                        {% if field.errors %}
                                            <div class="alert alert-danger">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}

                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                                {% endfor %}

                                <button type="submit" class="btn btn-primary">Create Tag</button>
                            </form>
                        </div>

                    {% else %}
                        <meta http-equiv="REFRESH" content="0;url={% url 'tags_list_url' %}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}