{% extends 'programs/programs.html' %}

{% block title %}
    Weather - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="program">

        <div class="menu_program">
            <a href="{% url 'news' %}">Site for posts</a><br>
            <a href="{% url 'clicker' %}">Clicker</a><br>
            <a href="{% url 'weather' %}">Weather</a><br>
            <a href="{% url 'todo' %}">To-do</a><br>
            <a href="{% url 'notes' %}">Notes</a><br>
        </div>
        {#    <div class="news">#}

        <div class="container pt-5">
            <div class="row">
                <div class="col-4 offset-1">
                    <h1>Weather in your city</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        <label for="city">City</label>
                        {{ form.name }}
                        <input type="submit" name="send" value="Узнать" class="btn btn-danger mt-3">
                    </form>
                </div>
                <div class="col-5 offset-1">
                    <h1>Information</h1>

                    {% for info in all_info %}

                        <div class="alert alert-info">
                            <div class="row">
                                <div class="col-9">
                                    <b>Город: </b>{{ info.city }}<br>
                                    <b>Температура: </b>{{ info.temp }}<sup>o</sup><br>
                                </div>
                                <div class="col-2 offset-1">
                                    <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды" class="img-thumbnail">
                                </div>

                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>

        {#    </div>#}

    </div>

{% endblock %}